{% extends 'base.html' %} 
{% block title %} {{product.name}} {% endblock  %}

{% block content %}
<div class="detail__img">
    <img src="{{product.img}}" alt="{{product.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{product.name}}</h1>
</div>
<div class="detail__container">
    <div class="detail__about">
        <h4 class="title is-4">About</h4><h6>$price</h6>
        <p>{{product.description}}</p>
        <br>
        <p>Ingredients: {{product.ingredients}}</p>
        <br>
        <button class="add-cart">Add to Cart</button> <button>Continue Shopping</button>
    </div>
</div>

{% endblock %}